<!-- <!DOCTYPE html>
<html>
<header>
    <title>Welcome page</title>
</header> -->
<body>
	<center>
	    <h1>WELCOME TO FLASHCARD MAKER</h1>
	    <p>Hope you enjoy it!</p>
	    <div>
	        <a href="/login"><p>Login</p></a>
	        <a href="/signup">Not having account? Sign it up.</a>
	    </div>
    </center>
</body>
<!-- </html> -->