<!DOCTYPE html>
<html>
<header>
    <title>Welcome page</title>
</header>
<body>
    <h1>WELCOME TO FLASHCARD MAKER</h1>
    <p>Hope you enjoy it!</p>
    <form action="">
        <div>
            <p>Create flash card</p>
            <input type="submit" value="Start"/>
        </div>
    </form>
</body>
</html>