<!-- <!DOCTYPE html>
<html>
<header>
    <title>Login page</title>
</header> -->
<body>
	<center>
		<h2>Welcome you!</h2>
		<p>Login successfully!</p>
      	<a href="/logout">Logout.</a>
    </center>
</body>
<!-- </html> -->